<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.JavaSetDemo"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity android:name=".javaset.JavaSetActivity" />
        <activity android:name=".javaset.safetest.SafeTestActivity" />
        <activity android:name=".javaset.list.ArrayListActivity" />
        <activity android:name=".javaset.list.LinkedListActivity" />
        <activity android:name=".javaset.list.VectorActivity" />
        <activity android:name=".javaset.list.StackActivity" />

        <activity android:name=".javaset.set.HashSetActivity" />
        <activity android:name=".javaset.set.TreeSetActivity" />
        <activity android:name=".javaset.set.LinkedHashSetActivity" />

        <activity android:name=".javaset.map.HashMapActivity" />
        <activity android:name=".javaset.map.LinkedHashMapActivity" />
        <activity android:name=".javaset.map.TreeMapActivity" />
        <activity android:name=".javaset.map.hash.TestHashActivity1" />

        <activity android:name=".javaset.iterator.IteratorActivity" />

        <activity android:name=".javaset.comparator.ComparatorActivity" />
        <activity android:name=".javaset.other.ConcurrentLinkedQueueActivity" />
        <activity android:name=".javaset.other.TestActivity1" />

        <activity android:name=".xiangxue.XiangXueActivity" />
        <activity android:name=".xiangxue.tree.TreeActivity" />
        <activity android:name=".xiangxue.tree.rb.RBTreeActivity" />


    </application>

</manifest>